{% extends 'blog/base.html' %}
{% block title %} My drafts {%endblock%}
{% block content %}
  {% for post in posts %}

  <div class="post">
    <div class="date">
      <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish</a>
      <i class="fa fa-upload fa-2x fa-spin" style='color:#3385FF;'></i>
      <p>Published Date:{{ post.created_date }}</p>
    </div>

      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
      <p>{{ post.text|linebreaksbr }}</p>
  </div>

  {% endfor %}

{% endblock  %}
