{% extends 'blog/base.html' %}
{% load markdownify %}
{% block content %}
<div class="bt-space">
<a class="btn btn-primary" href="{% url 'post_new' %}">Add</a></button>
</div>
      {% for post in posts %}
        <div class="post">
          <div class="date">
            <p>Published Date:{{ post.published_date }}</p>
          </div>

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|markdown|safe|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments:{{post.approved_comments.count}}</a>
        </div>

      {% endfor %}

{% endblock %}
